/* src/components/SearchBox/SearchBox.module.css */
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 16px;
    margin-bottom: 20px;
}

.input:focus {
    outline: none;
    border-color: var(--accent-color);
}