/* src/components/Contact/Contact.module.css */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: var(--accent-color);
    color: #fff;
}

.button:hover {
    background-color: #d84315;
}